.card {
  margin: 20px auto 0;
  max-width: 30%;
  height: auto;
}

.header-image {
  background-image: url('/assets/captcha-logo.png');
  background-size: cover;
}

button {
  text-decoration: underline;
  margin: 0 auto;
}
